# Case Study of pandas

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
k = sns.load_dataset('titanic')
k.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [3]:
k.to_csv('k_Csv.csv')

In [4]:
k.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [7]:
k1 = k.drop(['deck','embark_town','alone'], axis=1)

In [8]:
k1.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,alive
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,no
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,yes
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,yes
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,yes
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,no

In [9]:
k.mean()

TypeError: can only concatenate str (not "int") to str

In [11]:
# Select only numeric columns
numeric_df = k.select_dtypes(include=['number'])

# Calculate mean of numeric columns
mean_values = numeric_df.mean()
print(mean_values)

survived     0.383838
pclass       2.308642
age         29.699118
sibsp        0.523008
parch        0.381594
fare        32.204208
dtype: float64

In [12]:
k.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [16]:
k.columns

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')

In [19]:
grouped_mean = k.groupby(['sex', 'class']).mean()

# Display the results
print(grouped_mean)

C:\Users\shahzad\AppData\Local\Temp\ipykernel_6304\2817773856.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  grouped_mean = k.groupby(['sex', 'class']).mean()

TypeError: agg function failed [how->mean,dtype->object]

In [15]:
k.groupby(['sex','class']).mean()

C:\Users\shahzad\AppData\Local\Temp\ipykernel_6304\4002525015.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  k.groupby(['sex','class']).mean()

TypeError: agg function failed [how->mean,dtype->object]

In [22]:
import pandas as pd

# Load the Titanic dataset
url = 'https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv'
titanic = pd.read_csv(url)

# Display the first few rows to understand the structure
print(titanic.head())

# Group by 'Sex' and 'Pclass', then calculate the mean of numeric columns
grouped_mean = titanic.groupby(['Sex', 'Pclass']).mean()

# Display the results
print(grouped_mean)

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

TypeError: agg function failed [how->mean,dtype->object]

In [23]:
import pandas as pd

# Load the Titanic dataset
url = 'https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv'
titanic = pd.read_csv(url)

# Display the first few rows to understand the structure
print(titanic.head())

# Check the columns and their types
print(titanic.dtypes)

# Select only numeric columns
numeric_columns = titanic.select_dtypes(include=['number'])

# Concatenate the grouping columns with numeric columns
grouped_df = pd.concat([titanic[['Sex', 'Pclass']], numeric_columns], axis=1)

# Group by 'Sex' and 'Pclass', then calculate the mean of numeric columns
grouped_mean = grouped_df.groupby(['Sex', 'Pclass']).mean()
print(grouped_mean)

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

ValueError: Grouper for 'Pclass' not 1-dimensional

In [24]:
import pandas as pd

# Load the Titanic dataset
url = 'https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv'
titanic = pd.read_csv(url)

# Display the first few rows to understand the structure
print(titanic.head())

# Check the columns and their types
print(titanic.dtypes)

# Ensure 'Pclass' is treated as a categorical variable and 'Sex' as well
titanic['Pclass'] = titanic['Pclass'].astype('category')
titanic['Sex'] = titanic['Sex'].astype('category')

# Select numeric columns
numeric_columns = titanic.select_dtypes(include=['number']).columns

# Group by 'Sex' and 'Pclass', then calculate the mean of numeric columns
grouped_mean = titanic.groupby(['Sex', 'Pclass'])[numeric_columns].mean()

# Display the results
print(grouped_mean)

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

C:\Users\shahzad\AppData\Local\Temp\ipykernel_6304\1602215973.py:21: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  grouped_mean = titanic.groupby(['Sex', 'Pclass'])[numeric_columns].mean()

               PassengerId  Survived        Age     SibSp     Parch  \
Sex    Pclass
female 1        469.212766  0.968085  34.611765  0.553191  0.457447
       2        443.105263  0.921053  28.722973  0.486842  0.605263
       3        399.729167  0.500000  21.750000  0.895833  0.798611
male   1        455.729508  0.368852  41.281386  0.311475  0.278689
       2        447.962963  0.157407  30.740707  0.342593  0.222222
       3        455.515850  0.135447  26.507589  0.498559  0.224784

                     Fare
Sex    Pclass
female 1       106.125798
       2        21.970121
       3        16.118810
male   1        67.226127
       2        19.741782
       3        12.661633